:root {
  --white: #fff;
  --black: #222;
  --grey-light: #777;
  --grey-dark: #333;
  --light: #f7f7f7;
  --dark: #f4f4f4;
  --container-color: #f1f1f3;
  --container-width: 88%;
  --primary-gradient-from: #dfdfe7;
  --primary-gradient-to: #bdbfd0;
  --secondary-gradient-from: #fe3c6c;
  --secondary-gradient-to: #fa745b;
  --error-msg-gradient-from: #db3445;
  --error-msg-gradient-to: #f71735;
  --success-msg-gradient-from: #0bab64;
  --whatsapp: #0bab64;
  --viber: #665cac;
  --success-msg-gradient-to: #3bb78f;
  --font-color: #3f2935;
  --box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.178);
  --box-shadow-dense: 2px 4px 12px rgba(0, 0, 0, 0.411);
  --text-shadow: 1px 2px 6px rgba (0, 0, 0, 0.322);
  --border-radius: 1.5rem;
  --input-border-radius: 0.4rem;
  --input-text-color: #f7f7f7;
  --heading-1: 1.8rem;
  --heading-2: 1.4rem;
  --heading-3: 1.2rem;
  --heading-4: 1rem;
  --heading-5: 0.8rem;
  --heading-6: 0.6rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to right bottom,
    var(--primary-gradient-from),
    var(--primary-gradient-from)
  );
  background-repeat: no-repeat;
}

h1 {
  font-size: var(--heading-1);
}
h2 {
  font-size: var(--heading-2);
}
h3 {
  font-size: var(--heading-3);
}
h4 {
  font-size: var(--heading-4);
}
h5 {
  font-size: var(--heading-5);
}
h6 {
  font-size: var(--heading-6);
}

p {
  font-size: var(--heading-3);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

.container {
  width: 92%;
  margin: 3rem auto;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: --box-shadow;
}

@media screen and (max-width: 60rem) {
  .container {
    width: 94%;
    margin: 1rem auto;
  }
}

/*  */
/* HEADER */
/*  */
header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3rem;
}

@media screen and (max-width: 60rem) {
  header {
    padding: 2.5rem 2rem;
  }

  .logo-img {
    width: 6rem;
  }
}

/* NAV */

.nav-lists {
  display: flex;

  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-item {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  height: 1rem;
}

.nav-item:not(:last-child) {
  padding: 0 1.5rem 0 0;
}

.nav-link {
  text-decoration: none;
  color: var(--font-color);
  text-shadow: var(--box-shadow);
  display: block;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.nav-link:hover {
  transform: scale(1.1) rotate(-1deg);
}

.nav-link:hover:after {
  content: '';
  display: block;
  padding: 0.1rem;
  border-bottom: 0.2rem solid var(--secondary-gradient-to);
  animation: borderanimation 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

/* HAMBURGER-BARS */
.hamburger-bar {
  overflow: hidden;
  display: none;
}

.hamburger-bar__checkbox {
  display: none;
}

.hamburger-bar__button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 2.95rem;
  right: 2.25rem;
  z-index: 2000;
  text-align: center;
}

.hamburger-bar__icon {
  position: relative;
  margin-top: 1.15rem;
}

.hamburger-bar__icon,
.hamburger-bar__icon::before,
.hamburger-bar__icon::after {
  width: 1rem;
  height: 2px;
  background-color: var(--secondary-gradient-from);
  display: inline-block;
}

.hamburger-bar__icon::before,
.hamburger-bar__icon::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger-bar__icon::before {
  top: -5px;
}

.hamburger-bar__icon::after {
  top: 5px;
}

.hamburger-bar__background {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 3.2rem;
  right: 2.5rem;
  z-index: 1000;

  transition: transform 0.8s;
}

.hamburger-bar__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;

  transition: all 0.8s;
}

.hamburger-bar__list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  padding-left: 0;
  width: 100vw;
  display: none;
}

.hamburger-bar__item {
  margin: 0.45rem;
}

.hamburger-bar__link:link,
.hamburger-bar__link:visited {
  display: inline-block;
  width: 8rem;
  font-size: var(--heading-3);
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  text-shadow: var(--box-shadow);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--white) 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.hamburger-bar__link:hover,
.hamburger-bar__link:active {
  background-position: 100%;
  color: var(--font-color);
  text-shadow: var(--box-shadow);
  transform: translateX(0.5rem);
}

.hamburger-bar__button:hover .hamburger-bar__icon::before {
  top: -6px;
}

.hamburger-bar__button:hover .hamburger-bar__icon::after {
  top: 6px;
}

.hamburger-bar__checkbox:checked ~ .hamburger-bar__button {
  top: 0.5rem;
  right: 0.5rem;
  position: fixed;
}

.hamburger-bar__checkbox:checked ~ .hamburger-bar__background {
  transform: scale(60);
  background-image: radial-gradient(
    var(--secondary-gradient-from),
    var(--secondary-gradient-to)
  );
}

.hamburger-bar__checkbox:checked ~ .hamburger-bar__nav {
  opacity: 1;
  width: 100vw;
}

.hamburger-bar__checkbox:checked ~ .hamburger-bar__nav .hamburger-bar__list {
  display: block;
}

.hamburger-bar__checkbox:checked + .hamburger-bar__button .hamburger-bar__icon {
  background-color: transparent;
}

.hamburger-bar__checkbox:checked
  + .hamburger-bar__button
  .hamburger-bar__icon::after,
.hamburger-bar__checkbox:checked
  + .hamburger-bar__button
  .hamburger-bar__icon::before {
  top: 0;
  background-color: var(--white);
}

.hamburger-bar__checkbox:checked
  + .hamburger-bar__button
  .hamburger-bar__icon::before {
  transform: rotate(135deg);
}

.hamburger-bar__checkbox:checked
  + .hamburger-bar__button
  .hamburger-bar__icon::after {
  transform: rotate(-135deg);
}

@media screen and (max-width: 60rem) {
  .hamburger-bar {
    display: block;
  }

  .nav {
    display: none;
  }
}

/*  */
/* NAV_ITEM_ANIMATION */
/*  */

@keyframes borderanimation {
  from {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

/*  */
/* BUTTON */
/*  */

.btn--primary {
  width: 10rem;
}

.btn--pay,
.btn--submit {
  align-self: top;
  justify-self: center;
  font-size: var(--heading-4);
  height: 2.8rem;
  background: linear-gradient(
    to right,
    var(--secondary-gradient-from),
    var(--secondary-gradient-to)
  );
}

.main-heading,
.btn {
  border: none;
  border-radius: var(--input-border-radius);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.btn:hover {
  box-shadow: var(--box-shadow-dense);
  transform: scale(1.01);
}

.btn:active {
  transform: scale(0.96);
}

.btn-lg {
  width: 13rem;
}

.btn-xlg {
  width: 17rem;
}

p.btn {
  text-align: center;
  line-height: 2.8rem;
}

.btn--success {
  background: linear-gradient(
    to right,
    var(--success-msg-gradient-from),
    var(--success-msg-gradient-to)
  );
}

.btn--error {
  background: linear-gradient(
    to right,
    var(--error-msg-gradient-from),
    var(--error-msg-gradient-to)
  );
}

.btn--submit {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}

.btn:disabled {
  background-color: var(--grey-light);
  background-image: none;
}

.hidden {
  visibility: hidden;
}

.main-heading {
  background: linear-gradient(
    to right,
    var(--secondary-gradient-from),
    var(--secondary-gradient-to)
  );
}

/* GO BACK BTN */
.btn--go-back {
  background: linear-gradient(
    to right,
    var(--secondary-gradient-from),
    var(--secondary-gradient-to)
  );
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.btn--go-back:hover {
  box-shadow: var(--box-shadow-dense);
  transform: scale(1.05);
  cursor: pointer;
}

.btn--go-back:active {
  box-shadow: var(--box-shadow);
  transform: scale(0.95);
}

.go-back {
  margin-top: 0.2rem;
  height: 2rem;
  width: 2rem;
}

/* TOOLTIP */
.tooltip-box {
  position: absolute;
  visibility: hidden;
}

/* ERROR MESSAGE */
.error-message,
.success-message {
  text-align: center;
  padding-top: 11px;
  display: block;
  height: 1.8rem;
  padding: 0.6rem 0;
  color: var(--white);
  font-weight: 500;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.error-message {
  background: linear-gradient(
    to right,
    var(--error-msg-gradient-from),
    var(--error-msg-gradient-to)
  );
}

.success-message {
  background: linear-gradient(
    to right,
    var(--success-msg-gradient-from),
    var(--success-msg-gradient-to)
  );
}

@media screen and (max-width: 60rem) {
  .error-message,
  .success-message {
    font-size: var(--heading-6);
    line-height: 1.75rem;
  }
}

.tooltip {
  position: relative;
  top: -2.7rem;
  left: 2rem;
  font-size: var(--heading-6);
  background-color: var(--secondary-gradient-from);
  font-weight: 500;
  color: var(--white);
  padding: 6px 10px;
}

/* CHECK THIS WHILE MAKING SITE RESPONSIVE */
/* 
.tooltip-policy {
  top: -4.5rem;
} */

/* LOADER */
.loader {
  fill: var(--secondary-gradient-from);
  height: 1.5rem;
  width: 1.5rem;
  animation: rotateLoader 1.5s linear infinite;
}

.loader-container {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container .loader.loader-general {
  width: 4rem;
  height: 4rem;
}

@keyframes rotateLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading-1 {
  justify-self: center;
  font-size: var(--heading-1);
  color: var(--font-color);
  text-transform: uppercase;
  text-align: center;
}

.heading-1::after {
  content: '';
  width: 4rem;
  margin: 0 auto;
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid var(--secondary-gradient-from);
}

/*  */
/* FORM */
/*  */

.form--pay-tax {
  width: 75%;
  margin: 1rem auto;
  padding: 3rem 0;

  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

.form--grid {
  display: grid;

  grid-template-rows: 2fr 1.3fr 1.3fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 0.4fr;
  grid-auto-columns: 1fr;
}

.text-box {
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;

  grid-gap: 1rem 3rem;
  justify-items: stretch;
}

.input--text {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.input--text:nth-of-type(2n) {
  justify-self: end;
}

.input--textarea {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr;
}

.label-bluebook:hover + .tooltip-box {
  visibility: visible;
  transition: all 0.3s linear;
}

.label-citizenship:hover + .tooltip-box {
  visibility: visible;
  transition: all 0.3s linear;
}

.label-policy:hover + .tooltip-box {
  visibility: visible;
  transition: all 0.3s linear;
}

.label {
  font-size: var(--heading-3);
  color: var(--font-color);
  align-self: end;
  padding-bottom: 0.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.label-textarea {
  padding-top: 1rem;
}

select,
option,
input[type='text'],
input[type='email'],
input[type='number'],
textarea {
  background-color: var(--input-text-color);
  border: none;
  height: 3rem;
  border-radius: var(--input-border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  padding: 0 1rem;
  color: var(--font-color);
  font-weight: 500;
  font-size: var(--heading-4);
}

.input-text :focus {
  border-bottom: 0.5rem solid;
  border-color: var(--secondary-gradient-from);
}

input[type='file'] {
  display: none;
}

textarea {
  height: 15rem;
  padding: 1rem;
  resize: vertical;
}

.file-box {
  padding: 1.5rem 0;
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1.5rem;
}

.file-icon,
.label-file {
  color: var(--secondary-gradient-from);
  font-weight: 500;
  font-size: var(--heading-2);
}

.submit-info {
  display: grid;
  row-gap: 1rem;
  grid-template-rows: repeat(1fr);
  grid-template-columns: 1fr;

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.no-policy {
  font-size: var(--heading-2);
}

.link-primary {
  color: var(--secondary-gradient-from);
  font-weight: 700;
}

/* MEDIA QUERIES */
@media screen and (max-width: 60rem) {
  .form--pay-tax {
    row-gap: 1rem;
    padding-top: 1rem;
  }

  .form--grid {
    grid-template-rows: 2fr 0.8fr 0.8fr;
  }

  .text-box {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }

  .file-box {
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-columns: 1fr;

    row-gap: 0.5rem;
  }

  .heading-1 {
    font-size: var(--heading-2);
  }

  .label,
  .file-icon,
  .label-file,
  .no-policy,
  .btn--pay {
    font-size: var(--heading-4);
  }
}

/*  */
/* TAX SUMMARY SCREEEN */
/*  */

.payment-details-box {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 2.5rem 2fr 0.3fr;

  grid-auto-rows: 4fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.taxpayer-details {
  display: grid;

  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.tab-verified {
  width: 4rem;
  font-size: 0.7rem;
  color: var(--white);
  height: 1.2;
  align-self: center;
  line-height: 1.7rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  border-radius: 4px;
  justify-self: flex-end;
  text-transform: lowercase;
}

.taxpayer {
  text-transform: uppercase;
}

.pdf-icon {
  fill: var(--secondary-gradient-from);
  justify-self: self-end;
  display: block;
  align-self: center;
  font-size: xx-large;
}

.pdf-icon:hover {
  cursor: pointer;
}

.download-statement-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4rem 12rem;
  justify-items: center;
  width: 18rem;
  margin: 0 auto;
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.download-statement-box:hover {
  transform: scale(1.02);
}

.download-statement-box:active {
  transform: scale(0.98);
}

.download-statement {
  background-image: linear-gradient(
    to right,
    var(--secondary-gradient-from),
    var(--secondary-gradient-to)
  );
  display: block;
  justify-self: self-start;
  color: var(--white);
  padding: 0.35rem 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

/*  */
/* LIST */
/*  */
.list-container {
  display: grid;

  grid-template-rows: repeat(6, 4rem);
  grid-template-columns: 1fr;

  grid-auto-rows: 1fr;
  margin-bottom: 2rem;
}

.list-heading-box {
  display: grid;

  grid-template-rows: 3rem;
  grid-template-columns: 1fr;

  width: 47%;
}

.list-details {
  display: grid;

  grid-template-rows: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6%;
}

.dark {
  background-color: var(--dark);
}

.light {
  background-color: var(--light);
}

.list-info,
.list-value {
  border: none;
  border-radius: var(--input-border-radius);
  color: var(--font-color);
  font-weight: 500;
  font-size: var(--heading-4);
}

.list-heading,
.list-info,
.list-value {
  margin: 0;
  padding: 1rem 3rem;
}

@media screen and (max-width: 60rem) {
  .payment-details-box {
    grid-template-rows: 0.1fr 2.5rem 2fr 0.1fr;
  }

  .list-container {
    grid-template-rows: 0.6fr repeat(5, 1fr);
    grid-gap: 0.9rem;
  }

  .list-heading-box {
    width: 100%;
  }

  .list-details {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }

  .list-info {
    background-color: var(--dark);
    color: var(--secondary-gradient-from);
    font-weight: 900;
  }
  .list-value {
    background-color: var(--light);
  }
}

/* TWO COL LIST */

.two-col-list {
  width: var(--container-width);
  margin: 0 auto;
  padding: 1rem 0;
}

.col-heading-2 {
  text-transform: uppercase;
  font-size: var(--heading-2);
  margin: 2rem 0 0 0;
}

.col-title-container {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.col-list-heading {
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

.col-list-detail {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;

  grid-auto-flow: 1fr;
}

.col-list-info,
.col-list-value {
  padding: 1rem 2rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  border-radius: 3px;
}

.col-list-info {
  font-weight: bold;
}

@media screen and (max-width: 60rem) {
  .two-col-list {
    width: 100%;
    padding: 0.5rem 0;
  }

  .col-heading-2 {
    margin: 1rem 0;
    font-size: var(--heading-3);
  }

  .col-title-container {
    grid-gap: 0.5rem;
  }

  .col-list-heading {
    padding: 0.5rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
    margin: 0 0 0.3rem 0;
  }

  .col-list-detail {
    grid-gap: 0.5rem;
  }

  .col-list-info,
  .col-list-value {
    font-size: 0.8rem;
    padding: 0.5rem 0.4rem;
    margin: 0.3rem;
  }
}

/*  */
/* PAYMENT SUCCESS SCREEN */
/*  */
.payment-success {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

.payment-success > p {
  font-size: 1.5rem;
}

/*  */
/* DOCUMENT LISTINGS */
/*  */
.taxpayer-docs {
  padding-top: 4rem;
  text-align: center;
}

.taxpayer-name {
  padding: 0.7rem 1rem;
  margin: 0;
}

.docs-list {
  display: grid;

  grid-template-rows: 0.3fr 2.5fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;

  width: var(--container-width);
  margin: 0 auto;
  padding: 1.2rem 0;
}

.docs-list:last-child {
  padding-bottom: 5rem;
}

.docs-details {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  border: 3px dotted var(--secondary-gradient-from);
}

.docs-date {
  margin: 0;
  text-align: center;
  line-height: 10rem;
  font-weight: 700;
}

.docs {
  display: grid;
  grid-template-rows: repeat(3, 0.2fr);
  border-right: 3px dotted var(--secondary-gradient-from);
  border-left: 3px dotted var(--secondary-gradient-from);
}

.doc {
  margin: 0;
  padding: 1rem;
}

.doc:not(:last-child) {
  border-bottom: 3px dotted var(--secondary-gradient-from);
}

.btn-container {
  width: 70%;
  margin: auto;
}

.btn-container > p {
  font-size: 0.8rem;
  text-transform: lowercase;
}

.admin-comment {
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
  border-radius: 2px;
  font-weight: 900;
  letter-spacing: 1px;
}

.doc > span {
  display: inline-block;
  width: 7rem;
  font-weight: 500;
}

@media screen and (max-width: 60rem) {
  .taxpayer-docs {
    padding-top: 1rem;
  }
  .docs-details {
    grid-template-rows: 0.7fr 2fr 1fr;
    grid-template-columns: 1fr;
  }
  .docs-date {
    line-height: 60px;
    border-bottom: 3px dotted var(--secondary-gradient-from);
    font-size: 1rem;
  }

  .docs {
    border: none;
    border-bottom: 3px dotted var(--secondary-gradient-from);
  }

  .doc {
    font-size: 0.85rem;
  }

  .doc > span {
    width: 4.5rem;
    font-weight: bold;
  }

  .btn-container {
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .btn-container > .admin-comment {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*  */
/* TAX DETAILS */
/*  */

.tax-details-container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.tax-details {
  margin: 2rem 0;
}

.tax-details-type {
  margin-top: 3rem;
  text-transform: uppercase;
}

.tax-detail-heading {
  margin: 0;
  padding-bottom: 1rem;
}

@media screen and (max-width: 60rem) {
  .tax-details-container {
    padding: 1.5rem 0;
  }

  .tax-detail-heading {
    padding-bottom: 0.8rem;
  }
}

/*  */
/* FAQs */
/*  */

.faqs-container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 3rem 0;
}

.faqs-heading {
  margin: 3rem 0 5rem 0;
}

/* .faqs {
}  */

.question-box {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1.5rem 1fr;
}

.question {
  cursor: pointer;
  margin: 0;
}

/* .icons-container {
} */

.icon-down,
.icon-right {
  width: 1.5rem;
  height: 1.5rem;
}

/* .answer-box {
} */

.show-answer {
  display: block;
}

.hide-answer {
  display: none;
}

.answer {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

/* @media screen and (max-width: 60rem) {
} */

/*  */
/* SUPPORT */
/*  */

.support-container {
  width: var(--container-width);
  margin: 0 auto;
}

.about-us-content {
  letter-spacing: 1px;
  font-size: 1rem;
  word-spacing: 3px;
  line-height: 1.5rem;
  text-align: justify;
}

.contact-us {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 5rem 0;
}

.support-form--grid {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.contact-heading {
  text-transform: uppercase;
  text-align: center;
}

.contact-details {
  width: 80%;
  margin: 0 auto;
}

.contact-list-container {
  display: grid;

  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.contact-list {
  display: grid;

  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;

  align-items: center;
}

.contact-list-heading-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  align-items: center;
}

.contact-list-heading {
  margin: 0;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
}

.icon-phone,
.icon-mail,
.icon-officer,
.icon-whatsapp,
.icon-viber {
  font-size: 1.5rem;
}

.icon-whatsapp {
  color: var(--whatsapp);
}

.icon-viber {
  color: var(--viber);
}

.contact-info {
  margin: 0;
  padding: 1rem 2rem;
  font-size: var(--heading-4);
  font-weight: 500;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
}

.contact-info > a:link,
.contact-info > a:visited {
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.2s linear;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.contact-info > a:hover,
.contact-info > a:active {
  transform: rotate(-1deg);
}

@media screen and (max-width: 60rem) {
  .support-container {
    width: 80%;
    margin: 0 auto;
  }
  .contact-us {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 5rem 0;
  }
}
