:root {
  --white: #fff;
  --black: #222;
  --light: #f7f7f7;
  --dark: #f4f4f4;
  --container-color: #f1f1f3;
  --primary-gradient-from: #dfdfe7;
  --primary-gradient-to: #bdbfd0;
  --secondary-gradient-from: #fe3c6c;
  --secondary-gradient-to: #fa745b;
  --font-color: #3f2935;
  --box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.178);
  --text-shadow: 1px 2px 6px rgba (0, 0, 0, 0.322);
  --border-radius: 1.5rem;
  --input-border-radius: 0.4rem;
  --input-text-color: #f7f7f7;
  --heading-1: 1.8rem;
  --heading-2: 1.4rem;
  --heading-3: 1.2rem;
  --heading-4: 1rem;
  --heading-5: 0.8rem;
  --heading-6: 0.6rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to right bottom,
    var(--primary-gradient-from),
    var(--primary-gradient-from)
  );
  background-repeat: no-repeat;
}

h1 {
  font-size: var(--heading-1);
}
h2 {
  font-size: var(--heading-2);
}
h3 {
  font-size: var(--heading-3);
}
h4 {
  font-size: var(--heading-4);
}
h5 {
  font-size: var(--heading-5);
}
h6 {
  font-size: var(--heading-6);
}

p {
  font-size: var(--heading-3);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

.btn {
  background: linear-gradient(
    to right,
    var(--secondary-gradient-from),
    var(--secondary-gradient-to)
  );
  border: none;
  border-radius: var(--input-border-radius);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
}

.hidden {
  visibility: hidden;
}

.container {
  width: 92%;
  margin: 3rem auto;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: --box-shadow;
}

.form--pay-tax {
  width: 75%;
  margin: 1rem auto;
  padding: 3rem 0;

  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

.heading-1 {
  justify-self: center;
  font-size: var(--heading-1);
  color: var(--font-color);
  text-transform: uppercase;
}

/*  */
/* FORM */
/*  */

.form--grid {
  display: grid;

  grid-template-rows: 2fr 1.3fr 1.5fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 1.5fr;
  grid-auto-columns: 1fr;
}

.text-box {
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;

  grid-gap: 1rem 3rem;
  justify-items: stretch;
}

.input--text {
  width: 86%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.label {
  font-size: var(--heading-2);
  color: var(--font-color);
  align-self: end;
  padding-bottom: 0.4rem;
  font-weight: 500;
}

select,
option,
input[type='text'],
input[type='number'] {
  background-color: var(--input-text-color);
  border: none;
  height: 3rem;
  border-radius: var(--input-border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  padding: 0 1rem;
  color: var(--font-color);
  font-weight: 500;
  font-size: var(--heading-4);
}

.input-text :focus {
  border-bottom: 0.5rem solid;
  border-color: var(--secondary-gradient-from);
}

input[type='file'] {
  display: none;
}

.file-box {
  padding: 1.5rem 0;
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
}

.file-icon,
.label-file {
  color: var(--secondary-gradient-from);
  font-weight: 500;
  font-size: var(--heading-2);
}

.submit-info {
  display: grid;
  row-gap: 1rem;
  grid-template-rows: repeat(1fr);
  grid-template-columns: 1fr;

  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.no-policy {
  font-size: var(--heading-2);
}

.link-primary {
  color: var(--secondary-gradient-from);
  font-weight: 700;
}

/*  */
/* BUTTON */
/*  */

.btn--primary {
  width: 10rem;
}

.btn--pay {
  align-self: top;
  justify-self: center;
  font-size: var(--heading-4);
  height: 2.8rem;
}

/*  */
/* TAX SUMMARY SCREEEN */
/*  */

.payment-details-box {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;

  grid-auto-rows: 4fr;
  width: 80%;
  margin: 0 auto;
}

.taxpayer-details {
  display: grid;

  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.taxpayer {
  text-transform: uppercase;
}

.download-taxpayer-details {
  justify-self: flex-end;
}

.pdf-icon {
  height: 3.5rem;
  width: 1rem;
  fill: var(--secondary-gradient-from);
}

/*  */
/* LIST */
/*  */
.list-container {
  display: grid;

  grid-template-rows: repeat(6, 4rem);
  grid-template-columns: 1fr;

  grid-auto-rows: 1fr;
  margin-bottom: 2rem;
}

.list-heading-box {
  display: grid;

  grid-template-rows: 3rem;
  grid-template-columns: 1fr;

  width: 47%;
}

.list-details {
  display: grid;

  grid-template-rows: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6%;
}

.dark {
  background-color: var(--dark);
}

.light {
  background-color: var(--light);
}

.list-info,
.list-value {
  border: none;
  border-radius: var(--input-border-radius);
  color: var(--font-color);
  font-weight: 500;
  font-size: var(--heading-4);
}

.list-heading,
.list-info,
.list-value {
  margin: 0;
  padding: 1rem 3rem;
}

/*  */
/* PAYMENT SUCCESS SCREEN */
/*  */
.payment-success {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

.payment-success > p {
  font-size: 1.5rem;
}
